/* common */
.blu {
    color: #3cb7f2;
}

.prenota {
    color: #fff;
}

.prenota:hover {
    color: #00a188;
}

.light-bg {
    background: #e3e3e3;
}

.link {
    color: #00a188;
}

.smaller {
    font-size: 14px;
}

.logo {
    width: 50px;
}

.text-green {
    color: #00a188;
}

/* bottone ricevi avvisi */

.btn-avvisi {
    border: 1px solid #a3a3a3;
    background: #fff;
    padding: 3px 40px;
    border-radius: 3px;
    transform: initial !important;
    width: 220px;
    
}

/* zona annunci */

div.annunci {
    background: transparent;
    
}

.annunci-item {
    height: 194px;
    background: #fff;
    border-radius: 2px;
}

.sales-item {
    height: 110px;
    background: #fff;
    border-radius: 10px;
}

.btn-go-website:hover,
.btn-annunci {
    color: #00a188;
    background: #fff;
    border: 1px solid #00a188;
}



.btn-go-website,
.btn-annunci:hover {
    color: #fff;
    background: #00a188;
    border: 1px solid #fff;
}


/* zona vendita biglietti */

.sales {
    background: transparent;
}

.linea {
    border: 1px solid #5c5757;
    width: 80px;
    background: #000;
}

i.icon {
    font-size: 10px;
    color: #5c5757;
}

.sales-item {
    border: 1px solid #a3a3a3;
}

